.multi-level-form {
    width: 90%;
    margin: 0 auto;
    background: #F9F9F9;
    
    &.box-shadow {
        box-shadow: 0px 18px 27px rgba(0, 0, 0, 0.122132);
    }
   
    .form-layout {

        .form-header {
            padding: 20px 35px;
            color: #fff;
            font-size: 25px;
            font-family: $font-raleway-medium;
            background-color: $light-blue;
            background-image: url('../assets/images/star-shine.png');
            background-position: right center;
            background-repeat: no-repeat;
            background-size: auto;

            @media (max-width: 991px) {
                font-size: 22px;
            }

            @media (max-width: 767px) {
                font-size: 18px;
                background-size: contain;
            }

            &.no-background-img{
                background-image: none;
                background-color: $light-blue;
            }
        }
    
        .form-body {
            padding: 25px 35px;
            color: #999999;
        }

        .re-captcha {
            padding-top: 15px;
            padding-bottom: 25px;

            span {
                padding-bottom: 10px;
            }
        }

        .submit-btn {
            padding-top: 25px;
        }

    }
}