.back-link {
    padding-bottom: 30px;

    a {
        font-family: $font-raleway-semibold;
        position: relative;
        padding-left: 15px;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            height: 9px;
            width: 6px;
            background-image: url('../../assets/images/back-link.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}