.wpcf7 .phone-error
.wpcf7 .workEligibilityError,
.wpcf7 .wpcf7-not-valid-tip {
    color: #f07f24;
    font-size: 12px;
    font-weight: normal;
    display: block;
}



.wpcf7 form.sent .wpcf7-response-output {
    border-color: #f5882c !important;
    background: #f5882c !important;
    color: #fff;
    text-align: center;
    border-radius: 0;
}

.wpcf7 form .wpcf7-response-output {
    margin: 0em 0em 0em;
    padding: 0.2em 1em;
    border: none;
}

.wpcf7 form.invalid .wpcf7-response-output, 
.wpcf7 form.unaccepted .wpcf7-response-output{
    border-color: #ef2525 !important;
    background: #ef2525 !important;
    color: #fff;
    text-align: center;
    border-radius: 0;
}

// span.wpcf7-list-item {
//     display: block;
// }

// .wpcf7 .wpcf7-not-valid-tip,
// .screen-reader-response {
//     display: none;
// }

// .wpcf7 .form-control.wpcf7-not-valid {
//     border: 1px solid $light-orange;
// }

// .wpcf7 form.invalid .wpcf7-response-output, 
// .wpcf7 form.unaccepted .wpcf7-response-output{
//     border: 0;
//     text-align: center;
//     margin-top: 15px;
//     background: $light-orange;
//     border-radius: 10px;
//     padding: 10px;
//     font-size: 12px;
//     color: #fff;
// }

// .wpcf7 .sent .wpcf7-response-output {
//     padding: 10px;
//     border-radius: 10px;
//     font-size: 12px;
//     color: #fff;
//     border: 0;
//     margin-top: 15px;
//     text-align: center;
//     background: $light-orange;
// }