.comprehensie-solution {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;

    .section-title {
        h2 {
            font-size: 25px;
            font-family: $font-raleway-bold;

            @media (max-width: 767px) {
                font-size: 20px;
            }
        }

        p {
            padding-bottom: 20px;
            padding-top: 20px;
            font-size: 24px;

            @media (max-width: 767px) {
                padding-top: 0;
                font-size: 20px;
            }
        }
    }

    .boxes {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width: 991px){
            flex-wrap: wrap;
        }
    }

    .item {
        width: 32%;
        border-radius: 5px 5px 5px 5px;
        background: #fff;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        overflow: hidden;

        @media (max-width: 991px){
            margin-bottom: 30px;
            width: 100%;
        }

        .item-header {
            padding: 20px;
            background-color: #0046B5;
            text-align: center;

            p {
                margin-bottom: 0;
                color: #fff;
                font-size: 20px;
                font-family: $font-raleway-bold;
            }

            span {
                color: #fff;
                font-size: 13px;
            }
        }

        .item-content {
            padding: 20px;

            p {
                margin-bottom: 10px;
            }

            a {
                margin-top: 20px;
                width: 100%;
            }
        }
    }
}