.contact-us{
    .wrapper{
        .tab-wrapper{
            padding: 0;
            margin: 0px auto;
            width: 80%;
            .tabs {
                padding: 0;
              
                .tab-list {
                  display: flex;
                  justify-content: center;
                  margin-bottom: 0px;
                }
              
                .tab-list > li {
                    background-color: #ECF4FF;
                    color: #0050CA;
                    width: 100%;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                
                    &:hover,
                    &.active {
                        color: #fff;
                        font-size: 25px;
                        font-family: $font-raleway-medium;
                        background-color: $light-blue;
                        background-image: url('../assets/images/star-shine.png');
                        background-position: right center;
                        background-repeat: no-repeat;
                        background-size: auto;
            
                        @media (max-width: 991px) {
                            font-size: 22px;
                        }
            
                        @media (max-width: 767px) {
                            font-size: 18px;
                            background-size: contain;
                        }
            
                        &.no-background-img{
                            background-image: none;
                            background-color: $light-blue;
                        }
                    }
                
                    h3 {
                        margin: 15px 0px;
                    }
                
                    &:hover > h3,
                    &.active > h3 {
                        color: #fff;
                    }
                
                    > h3 {
                        font-weight: 600;
                        font-size: 22px;
                        display: block;
                        transition: all 500ms ease;
                    }
                }
            }
        
            .body-content{
                padding: 0px;
                background-color: #F9F9F9;
                .tabs-content { 
                    display: none; 
                    padding: 30px;
                    opacity: 1s ease-out;  
                
                    &.no-spacing{
                       padding: 0; 
                    }  
                }
                .tabs-content.active { 
                    display: block; 
                }

                .form-container{
                    padding: 0px;
                    width: 50%;
            
                    form{
                        .form-group{
                            &.subscribe{
                                margin: 30px 0px;
                            }
                
                            label{
                                display: block;
                            }
                        }
                    }
            
                    button{
                        margin: 20px 0px;
                        padding: 8px 50px;
                    }
            
                    @media(max-width: 767px){
                        width: 100%;
                    }
                }

                .submit-cv{
                    .btn-pload {
                        padding: 15px 15px 15px 40px;
                        font-size: 13px;
                        color: $link-color;
                        font-family: $font-raleway-semibold;
                        background-color: #fff;
                        cursor: pointer;
            
                        &:before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 15px;
                            display: block;
                            height: 24px;
                            width: 24px;
                            background-image: url('../assets/images/file.png');
                            background-repeat: no-repeat;
                            background-position: left; 
                            background-size: auto;
                        }
                    }
                }
            }
            @media(max-width: 991px){
                width: 100%;
                margin: 0px 20px;
            } 
            
        }
    }
      
}

