.faq-accordion-section{
        .accordion{
            border-bottom: 2px solid #DADADA;
            position: relative;
            padding: 24px 64px 20px 24px;
            cursor: pointer;
            .accordion-title{
                font-weight: 600;
                margin-bottom: 0;
                font-family: $font-raleway-semibold;
            }
            .panel {
                height: 100%;
                max-height: 0;
                opacity: 0;
                visibility: hidden;
                overflow: hidden;
                transition: visibility .3s linear,opacity .3s linear,max-height .3s ease-in;
                p:last-child{
                    margin-bottom: 0;
                }
            }
            &:after {
                content: url(../assets/images/faq-plus.png);
                font-size: 65px;
                font-weight: 100;
                color: #f5882b;
                position: absolute;
                right: 20px;
                top: -26px;
                height: 100%;
                /* transition: .3s all;
                display: flex;
                justify-content: center;
                align-items: center; */
            }
            &.active{
                .panel{
                    visibility: visible;
                    max-height: 500px;
                    opacity: 1;
                }
                &:after {
                    content: url(../assets/images/faq-minus.png);
                    top: -34px;
                }
            }
        }
        &.specialisation-accordion{
            .accordion{
                padding: 15px 40px 15px 23px;
                .accordion-title{
                    font-family: $font-raleway-bold;
                }
                &:after {
                    top: 0;
                }
                &.active{
                    &:after {
                        content: url(../assets/images/faq-minus.png);
                        top: -8px;
                    }
                }
            }
            :last-child{
                border-bottom: none !important;
            } 
        }
        
}

.faq-accordion-section-tabs{
    .tabs-container{
        h3{
            font-family: $font-raleway-bold;
        }
    }
}
  
  