.offset{
    margin-top: -150px;
    z-index: 1;

    // @media (max-width: 767px) {
    //     margin-top: -150px;
    // }
}
.find-job{

    padding-bottom: 30px;

    .container{

        .box-row{
            display: flex;
            justify-content: space-between;

            @media (max-width: 991px) {
                flex-wrap: wrap;
            }

                .search-box {
                    width: 57%;

                    @media (max-width: 991px) {
                        margin-bottom: 20px;
                        width: 100%;
                    }
                }

                .request-box {
                    width: 40%;

                    @media (max-width: 991px) {
                        width: 100%;
                    }
                }

                .search-row {
                    display: flex;
                    justify-content: space-between;

                    @media (max-width: 767px) {
                        flex-wrap: wrap;
                    }

                    .find-job-field {
                        width: 50%;

                        @media (max-width: 767px) {
                            margin-bottom: 10px;
                            width: 100%;
                        }
                    }

                    div.find-job-location {
                        width: calc(47% - 52px);

                        @media (max-width: 767px) {
                            width: calc(98% - 52px);
                        }
                    }
                }

                .content-wrapper{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 55px 30px;
                    background-color: #ffffff;
                    box-shadow: 0px 18px 27px rgba(0, 0, 0, 0.122132);

                    @media (max-width: 991px) {
                        padding: 35px 30px;
                    }

                    h2{
                        margin-bottom: 0px;
                    }
               
                    @media (max-width: 767px) {
                        margin: 0px auto;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    
