.offset{
    margin-top: -115px;
}
.find-job{

    .row-wrapper{

        .row{           
            .content-wrapper{
                padding: 31px 37px;
                height: 253px;
                background-color: #ffffff;
                .line-container{
                    margin: 34px auto;
                }
            }
        }
    }
    
}