.four-column-card{
    &.title-description-center{
        .container{
            .title-wrapper{
                text-align: center;
            }
            .content-wrapper{
                text-align: center;
            }
        }
    }
    .container{
        .title-wrapper{
            margin-bottom: 40px;
        }
        .flex-box{
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            margin-bottom: 40px;
            .column{
                flex-basis: 22.96%;
                background-color: #fff;
                padding: 20px;
                box-shadow: 0 5px 27px rgba(0,0,0,.122132);
                @media(max-width: 991px){
                    flex-basis: 100%;
                }
                h6{
                    font-family: $font-raleway-bold;
                    font-size: 14px;
                    margin-bottom: 20px;
                }
                ul{
                    padding-left: 14px;
                    &:not(:last-child){
                        margin-bottom: 35px;
                    }
                    li{
                        line-height: 26px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    &.add-one-more-column{
        .container{
            @media (min-width: 1200px) {
                max-width: 1200px;
            }
        
            .flex-box{
                gap: 15px;
                .column{
                    width: 18.9%;
                    flex-basis: 18.9%;

                    @media(max-width: 1199px){
                        width: 31.8%;
                        flex-basis: 18.9%;
                    }
                }
            }
        }
    }
}