.full-width-text {
    width: 100%;
    text-align: center;

    .container{
        h2{
            margin: auto auto 30px auto;
            width: 600px;
            max-width: 100%;
        }
        h3{
            font-size: 23px;
            margin-bottom: 20px;
            color: #0050CA;
            @media(max-width: 575px){
                font-size: 20px;
            }
        }
        p{
            line-height: 30px;
            color: #000;  
        }
        @media(max-width: 575px){
            padding: 0px 20px;
        }
    }

    &.blue-bg{
        background-color: #ECF4FF;
        h2{
            width: 100%;
        }
    }
}