.header-notification {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #002890;

    p {
        margin: 0;
        font-size: 14px;
        font-family: $font-raleway-semibold;
        color: #fff;
        text-transform: uppercase;
       text-align: center;
    }
}