.hero-banner-v3 {
    // max-height:536.1px;
    min-height: 498px;
    background-size: cover!important;
    background-position: left center!important;
    background-repeat: no-repeat!important;
    overflow: hidden;
    position: relative;
    // z-index: -1;
    
    @media (max-width: 550px) {
        background: #758BC3!important;
        background-image: none;
    }
    

    @media (max-width: 767px) {
        min-height: fit-content;
    }    
    


    .container {
        position: relative;
        @media (min-width: 1200px) {
            
            max-width: 1140px;
            
        }

        .small-title {
            .hero-title{
                h1 {
                    margin: auto;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 30px;
                    letter-spacing: .8px;
                    color: #fff;
                    text-align: center;

                    @media (max-width: 990px) {
                        font-size: 20px;
                    }
                }
            }

            .hero-sub-title {
                h2{
                    margin-bottom: 0;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 55px;
                    line-height: 70px;
                    color: #FFFFFF;
    
                    @media (max-width: 991px) {
                        font-size: 38px;
                        line-height: initial;
                    }
                }
            }
        }


                
        .hero-sub-title {
            h2{
                margin: auto;
                // max-width: 638px;
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                line-height: 30px;
                letter-spacing: 0.8px;
                color: #FFFFFF;
                text-align: center;

                @media (max-width: 990px) {
                    font-size: 20px;
                }

            }
        }

        .hero-title{
            margin: 22px auto; 
            h1{
                margin-bottom: 0;
                font-style: normal;
                font-weight: 400;
                font-size: 50px;
                line-height: 70px;
                color: #FFFFFF;
                font-family: $font-raleway-light;

                @media (max-width: 991px) {
                    font-size: 38px;
                    line-height: initial;
                }
            }
        }
        
        .hero-desc{

            p{
                margin: 0 auto;
                max-width: 712px;
                font-style: normal;
                font-family: $font-raleway-bold;
                font-size: 14px;
                line-height: 24px;
                color: #FFFFFF;
            }
            

        }

        .hero-btn{
            margin-top: 30px;
        }

        .btn-wrapper{
            margin-top: 35px;
        }

        
    }
    svg{
        // position: absolute;
        // right: 10px;
        // bottom: 0;
        // max-height: 511px;
        // max-width: 35vw;
        // @media (max-width: 768px) {
        //     display: none;
        // }
        display: none;
    }
        


     
    &:after{
        
        content: url("data:image/svg+xml;charset=UTF-8,%3Csvg viewBox='0 0 696 512' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M456.739 511.642C454.772 507.805 452.711 504.006 450.838 500.132C418.412 432.783 386.023 365.435 353.616 298.087C342.19 274.352 324.862 267.957 300.585 278.452C203.888 320.335 107.172 362.219 10.4752 404.084C7.51544 405.363 4.44331 406.416 0.640625 405.57C4.96782 403.369 9.25756 401.056 13.641 398.968C107.565 354.621 201.49 310.274 295.415 265.945C319.317 254.661 325.948 237.716 315.908 213.022C288.839 146.426 261.715 79.8294 234.628 13.2332C233.017 9.30251 231.518 5.31539 231.818 0.444336C234.028 4.60072 236.389 8.70068 238.43 12.9511C269.414 77.5161 300.36 142.081 331.325 206.665C342.639 230.287 359.348 236.644 383.363 226.3C484.182 182.893 584.962 139.448 685.762 96.0224C688.515 94.8375 691.344 93.7843 695.203 94.6118C692.224 96.1916 689.302 97.8843 686.249 99.3136C587.697 145.579 489.164 191.845 390.594 238.035C364.8 250.109 358.543 266.227 369.427 292.689C397.506 360.921 425.512 429.191 453.498 497.442C455.277 501.768 456.776 506.188 458.424 510.551C457.862 510.908 457.282 511.266 456.72 511.623L456.739 511.642Z' fill='white'/%3E%3C/svg%3E");
        position: absolute;
        top: 100px;
        right: 10px;
        width: 35vw;
        max-height: 511px;
        max-width: 673px;
        
        // @media (min-width: 1000px) {
        //     bottom: 35.5%;
        // }
        // @media (max-width: 999px) {
        //     bottom: 39%;
        // }
        
        @media (max-width: 1550px) {
            width: 27vw;
        }
        @media (max-width: 1440px) {
            width: 23vw;
        }
        @media (max-width: 1340px) {
            width: 20vw;
        }
        @media (max-width: 1280px) {
            display: none;
        }
        
        
    }


    }


    



