.home-about{
    .home-about-container{
        
        .section-title{
            display: flex;
            justify-content: center;

            @media (max-width:768px) {
                margin-bottom:20px;                  
            }
            
        }
        .section-description{
            max-width: 80%;
            margin: auto;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #000000;


        }
        
        .home-about-stats-row{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 624px;
            margin: auto;
            .column-container{
                width: 33.333333333333%;
                display: flex;
                justify-content: center;
                margin-top: 25px;
                

                .column-inner-container{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 15px;
                    
                    
                    .column-number{
                        
                    
                    font-style: normal;
                    font-weight: 600;
                    font-size: 72px;
                    text-align: center;
                      font-feature-settings: 'pnum' on, 'lnum' on;
                      color: #0046B5;
                      line-height: normal;
                      
                      span{
                      font-size: 28px;
                      }

                    }

                    .column-image{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 85px;
                        width: auto;

                    }

                    
                    

                    .column-text{
                        max-width: 110px;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 17px;
                        line-height: 20px;
                        text-align: center;
                        color: #353535;
                    }
                  }
              }
            
            
          }
    }
}   