.icons-section {
    
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5vw;
    @media (max-width: 550px) {
        background-image: none!important;
    }
}

.section-title{
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.817857px;
    color: #353535;
    margin-bottom:7px;
}

.section-description{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-bottom:28px;
}
  
.icon-title{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #353535;
    max-width:50%;
}

.icon-box-wrapper{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    gap:21px;
    width:167.87px;
    height:164.67px;
    background:#ffffff;
    border: 1px solid #F0F0F0;    
}
  
.icons-container.container{
    max-width:971.89px;
}

  .icons-row{
    gap:20px;
  }
  
  .icon-box-wrapper {
    img{
        max-height:47px;
        width: fit-content;
      }
  }