.lastest-jobs-section{
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .jobs-container.container{
        margin: auto;
        .section-title-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            .section-title{
                margin-bottom: 0px;

                h2{
                    margin-bottom: 0px;
                }
                @media (max-width:768px) {
                    margin-bottom:20px;                  
                }
            }

            @media (max-width:767px) {
                 
                flex-direction: column;
                align-items: center;
                gap: 32px;

                  
            }
        }
        .jobs-row{            
            display: flex;
            justify-content: center;
            margin-top: 43px;
            overflow: hidden;
            

        
            .slick-list {
            // width: 100%;
            // max-width: 100%;
            margin: auto;
            overflow: hidden;
                .slick-track{
                    .slick-slide{
                        margin: 10px;

                    }
                }
                
            }
        
            .job-card{
                // width: 100%;
                // max-width: 298px;
                // width: fit-content;
                padding: 43px 23px;
                margin: auto;
                background-color: #ffffff;
                
        
        
                @media (max-width:768px) {
                 
                        margin-top: 20px;
                 
                }
        
                .job-category{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    color: #353535;
                }
                .job-title{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 21px;
                    line-height: 28px;
                    color: #353535;
                    margin-bottom: 45px;
                }
                
                .job-details{
                    margin-bottom: 36px;
            
                    .label{
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 19px;
                        color: #0050CA;
                        text-transform: uppercase;
                        
                    }
                    .value{
                        
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 19px;
                        color: #353535;
                    }
            
                }
            
                
            }
        
            // @media (max-width:991px) {
            //     & > *:last-child {
            //         margin-top: 20px;
            //       }        
            // }
        
            // @media (max-width:768px) {
            //     & > *:last-child {
            //         margin-top: 0px;
            //       }        
            // }
        
        }
        .pagination-wrapper{

            display: flex;
            justify-content: end;
            gap:24px;
            // max-width:949px;
            margin: auto;
            margin-top: 21px;

            
            .page-location{

            .dot-container{
                .slick-dots{
                    list-style: none;
                    display: none;
                }
            }

                display: flex;
                gap: 5px;
                align-items: center;
    
                .pagetext{
                    font-style: normal;
                    font-weight: 900;
                    font-size: 14px;
                    line-height: 24px;
                    display: flex;
                    font-feature-settings: 'pnum' on, 'lnum' on;
                    color: #F5882B;
                }
            }
    
            .pagination-container{
                display: flex;
                gap:26px;
                align-items: center;
                


                .slick-arrow {
                        text-indent: -9999px;            
                        border: none;          
                        background-color: transparent;
                        height: 20px;
                        width: 15px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        padding: 0;
                  }
                .slick-prev{
                    
                        background-image: url('../assets/images/left.svg');
                    
                }
                .slick-next{
                    
                        background-image: url('../assets/images/right.svg');
                        
                    
                }
                .slick-dots{
                    display: none;
                }
                

                 
            }
            
            }
    }
}


