.logo-carousel{
    box-shadow: 0px 5px 27px rgba(0, 0, 0, 0.122132);
    padding: 25px 0;

    &.no-shadow {
      box-shadow: none;
    }

    &.bg-blue {
      padding-top: 70px;
      padding-bottom: 70px;
      background-color: #ECF4FF;
    }
    
    .carousel-container{
        
        
        .section-title{
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
            h2{
              @media (max-width: 768px) {
                text-align: center;
               }
            }
        }
        .logo-row{

                /* Styling the dot container */
                // margin-bottom: 50px;
              .slick-dots {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                margin: 0;
                list-style: none;
                text-align: center;
                margin-top: 10px;
                flex-wrap: wrap;

                li {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: 5px 11.5px;
                  @media (max-width: 768px) {
                    margin: 5px 7px;
                  }  

                  button {
                    background-color: #ffffff;
                    width: 10px;
                    height: 10px;
                    border-radius: 100px;
                    text-indent: -9999px;
                    border: none;
                    padding: 0;
                    border: 2px solid #0050CA;
                  }

                  &.slick-active button {
                    background-color: #0050CA; /* Customize the active dot color */
              
                  }
                }
              
            }

            .slick-list.draggable{                
                max-width: 1028.06px;
                margin: auto;
                margin-bottom: 42px;

                .logo-container{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    /* Set desired height and width for the parent element */
                    //   height: 300px;
                    //   width: 400px;
                    
                    img{
                        margin: auto;
                        max-width: 100%;
                        max-height: 100%;
                        min-height: 67px;
                    }
                }
                
            }

            &.two-rows-icon{
              .slick-list.draggable{
                  min-height: 200px;
                  .logo-container{
                    display: block;
                    img{
                      height: 100px;
                      padding: 10px 30px;
                      object-fit: contain;
                      min-height: 67px;
                    }
                  }
              }
            }

        }


        .logo-row.two-rows{
          margin-bottom: 10px;
          .slick-slide{
            display: flex;
            flex-direction: column;
            gap: 0px;
            .logo-container{
              min-height: 85px;
              img{
                padding: 0;
              }
            }
          }
        }
    }
}



