.partnerships{

    .content-container{
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0px;
        gap: 50px;

        &:first-of-type {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        h4{
            font-size: 22px;
            font-family: $font-raleway-semibold;
            padding: 10px 0px;
        }

        div{
            flex-grow: 1;
            padding: 0 10px;
        }

        .text-container{
            flex-basis: 50%;  
            align-self: center;

            p{
                color: #000;
            }
        }  

        .image-container{
            flex-basis: 20%;
            display: flex;
            flex-wrap: wrap;
            padding: 0;

            .image-container{
                flex: 1;
                padding: 0px 10px;
                min-width: 100px;
                justify-content: center;
                align-items: center;

                img{
                    object-fit: cover;
                    padding-bottom: 10px;
                }
            }
            
            @media (max-width: 991px){
                flex-basis: 100%;
            } 
        }
        @media (max-width: 991px){
            text-align: center;
        } 

        &.border-bottom{
            border-bottom: 2px solid #DADADA !important;
        }
        
        @media (max-width: 991px){
            padding: 30px 0px;
            gap: 0;
        }
    }

}