.persons-banner{
    padding: 0;
    .container:not(.title-wrapper){
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        &>div{
            flex-grow: 1;
            &:first-child{
                flex-basis: 36.33%;
                text-align: center;
            }
            &:last-child{
                flex-basis: 58.67%;
            }
            img{
                object-fit: cover;
                width: 100%;

                &.bg {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: auto;
                    object-fit: contain;
                    z-index: -1;

                    @media (max-width: 991px){
                        top: auto;
                        width: 50%;
                        bottom: 30%;
                    }
                }
            }
            @media (max-width: 991px){
                flex-basis: 100% !important;
                padding: 0 25px;
            }
        }
        .text-wrapper{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: start;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            color: #000000;
            font-feature-settings: 'lnum' 1;

            @media (max-width: 991px){
                padding-top: 50px;
                align-items: center;
            }

            ul {
                list-style: none;
                padding-left: 15px;
                margin-bottom: 0px;

                li {
                  &::before {
                    content: '\2022';
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
              
                    & {
                        color: #F5882B;
                    }
                  }
                }
            }

            p {
                padding-bottom: 40px;
                text-align: left;

                @media (max-width: 991px){
                    padding-bottom: 20px;
                    text-align: center;
                }
            }
        }
        ol{
            padding-left: 14px;
            li{
                line-height: 24px;
            }
        }
    }
    &.without-title{
        h2{
            display: none;
        }
    }
    &.without-button{
        .button-wrapper{
            padding-top: 20px;
            display: none;
            a.btn{
                display: none;
            }
        }
    }
    &.reverse{
        .container{
            flex-direction: row-reverse;
        }
    }
    &.equal-width{
        .container{
            &>div{
                &:first-child{
                    flex-basis: 47.5%;
                }
                &:last-child{
                    flex-basis: 47.5%;
                }
            }
        }
    }

    &.with-bg {
        background-color: #f2f6fc;
    }
}