.profile-carousel{

    padding: 25px 0;
    
    .profile-container{
      padding: 0px;
      
      .section-title-container{

        .section-title{

          padding: 10px;
          display: flex;
          justify-content: space-between;
          @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: 20px;
          }
          
        }



        @media (max-width:989px) {
          flex-direction: column;
          align-items: center;
        }
      }
      .section-description{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
      }
      .profile-row{
        
          margin-top: 40px;
              /* Styling the dot container */
            .slick-dots {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0;
              margin: 0;
              list-style: none;

              text-align: center;
              margin-top: 10px;
              li:only-child{
                display: none;
              }
              li {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 11.5px;

                button {
                  background-color: #ffffff;
                  width: 9.62px;
                  height: 9.62px;
                  border-radius: 100%;
                  text-indent: -9999px;
                  border: none;
                  padding: 0;
                  border: 2px solid #0050CA;
                }

                &.slick-active button {
                  background-color: #0050CA; /* Customize the active dot color */
            
                }
              }
            
          }

          .slick-list.draggable{

              margin: auto;
              .profile-container{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin: 10px;
                  
                  
                  img{
                      margin: auto;
                      max-width: 100%;
                      max-height: 100%;
                  }
              }
              
          }


          .profile-container{



            .profile-wrapper{
              position: relative;
              padding-top: 135%;
              width: 100%;
              min-width: fit-content;
              max-height: 297px;
              img{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
              }

              .content {
                position: relative;
                margin-top: -62px;
                padding: 0 1.5em;
                h2{
                  // min-height: 56px;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 25px;
                  line-height: 28px;
                  color: #FFFFFF;
                }
                span {
                  display: none;
                  visibility: hidden;
                  max-height: 0;
                  font-size: 13px;
                  line-height: 25px;
                  margin: 0;
                  opacity: 0;
                  -webkit-transition: visibility .3s linear,opacity .3s linear,max-height .45s ease-in;
                  transition: visibility .3s linear,opacity .3s linear,max-height .45s ease-in;
              }
                a {
                  display: none;
                  visibility: hidden;
                  max-height: 0;
                  font-size: 13px;
                  line-height: 25px;
                  margin: 0;
                  opacity: 0;
                  -webkit-transition: visibility .3s linear,opacity .3s linear,max-height .45s ease-in;
                  transition: visibility .3s linear,opacity .3s linear,max-height .45s ease-in;
                  filter: brightness(0) invert(1);
                  width: fit-content;
              }
              }

              &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                height: 0;
                background: linear-gradient(180deg, rgba(246, 137, 43, 0.85) 0%, rgba(221, 85, 0, 0.85) 89.02%);
                z-index: 1;
                -webkit-transition: height .25s ease-in;
                transition: height .25s ease-in;
                width: 100%;
              }
            }
            &:hover {
              .content {
                position: absolute;
                bottom: 0;
                padding: 1.5em;
                color: #fff;
                z-index: 999;

                span {
                  display: block;
                  visibility: visible;
                  max-height: 500px;
                  opacity: 1;
                  -webkit-transition: visibility .3s linear,opacity .3s linear,max-height .45s ease-out;
                  transition: visibility .3s linear,opacity .3s linear,max-height .45s ease-out;



                }
                a {
                  display: block;
                  visibility: visible;
                  max-height: 500px;
                  opacity: 1;
                  -webkit-transition: visibility .3s linear,opacity .3s linear,max-height .45s ease-out;
                  transition: visibility .3s linear,opacity .3s linear,max-height .45s ease-out;
                }
              }
              .profile-wrapper:after {
                height: 100%;
                -webkit-transition: height .25s ease-out;
                transition: height .25s ease-out;
              }

              
            }
          }

      }
    }
}



