.three-column-info{
    background-color: #ECF4FF;
    .three-column-info-container{
        
        .section-title{
            display: flex;
            justify-content: center;
            

            @media (max-width:768px) {
                margin-bottom:20px;                  
            }
            
        }
        .section-description{
            max-width: 745px;
            margin: auto;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #000000;


        }
        
        .three-column-info-stats-row{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: auto;
            margin-bottom: 37px;
            gap: 62px;
            max-width: 700px;
            
            
            .column-container{
                width: 191px;
                display: flex;
                justify-content: center;
                align-items: center;
            
                .column-inner-container{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 15px;
                    
                    .column-top-row{
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        .column-number{
                            font-style: normal;
                            font-weight: 600;
                            font-size: 72px;
                            text-align: center;
                            font-feature-settings: 'pnum' on, 'lnum' on;
                            color: #0046B5;
                            line-height: 65px;
                        }
                        .column-sub-title{
                            font-style: normal;
                            font-weight: 600;
                            font-size: 28px;
                            text-align: center;
                            font-feature-settings: 'pnum' on, 'lnum' on;
                            color: #0046B5;
                            line-height: normal;
                        
                        }

                    }


                    img{
                        width: 100%;
                    }

                    
                    

                    .column-text{
                        font-style: normal;
                        font-weight: 700;
                        font-size: 17px;
                        line-height: 20px;
                        text-align: center;
                        color: #353535;
                    }
                  }
              }
            
            
          }
    }
}   