.two-column-text-image{
    .container:not(.title-wrapper){
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        &>div{
            flex-grow: 1;
            &:first-child{
                flex-basis: 36.33%;
                text-align: center;
            }
            &:last-child{
                flex-basis: 58.67%;
            }
            img{
                object-fit: cover;
                width: 100%;
            }
            @media (max-width: 991px){
                flex-basis: 100% !important;
                padding: 0 25px;
            }
        }
        .text-wrapper{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #000000;
        }
        ol{
            padding-left: 14px;
            li{
                line-height: 24px;
            }
        }
    }
    &.without-title{
        h2{
            display: none;
        }
    }
    &.without-button{
        .button-wrapper{
            padding-top: 20px;
            display: none;
            a.btn{
                display: none;
            }
        }
    }
    &.reverse{
        .container{
            flex-direction: row-reverse;
        }
    }
    &.equal-width{
        .container{
            &>div{
                &:first-child{
                    flex-basis: 47.5%;
                }
                &:last-child{
                    flex-basis: 47.5%;
                }
            }
        }
    }
}