.two-column-text{

    .container{
        .column-wrapper{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            
            .text-container{

                ul{
                    list-style: none;
                    padding: 0px;
                    li{
                        display: flex;
                        justify-content: flex-start;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 30px;
                        color: #353535;
                        &:before{
                            content: url('../assets/images/list-check.png');
                            margin-right: 11px;
                            padding-top: 2px;
                            
                        }
                    }
                }
                .normal-ul{
                    ul{

                        li{
                            display: list-item;
                            &::marker{
                            color: #f5882b; 
                            }
                            &::before{
                                display: none; 
                            }
                        }
                    }
                }
            }

            .left-col{
                display: flex;
                flex-direction: column;
                gap: 17px;
                max-width: 495px;
                @media (max-width:990px) {
                    max-width: none;
                }
                .text-container{
                    max-width: 440px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    color: #000000;
                    @media (max-width:990px) {
                        max-width: none;
                    }

                }
            }
            .right-col{
                display: flex;
                flex-direction: column;
                gap: 17px;
                max-width: 417px;
                @media (max-width:990px) {
                    max-width: none;
                }
                .column-title{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 30px;
                    letter-spacing: 0.817857px;
                    color: #353535;
                }
            }
            ol{
                padding-left: 14px;
            }
        }
        .img-wrapper{
            padding-top: 80px;
        }
    }
}