//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Basic styles for links
 */
a {
  color: $link-color;
  text-decoration: none;
  font-feature-settings: 'pnum' on, 'lnum' on;


  @include on-event {
    color: $link-hover;
    text-decoration: underline;
  }

  &.underlined {
    text-decoration: underline;
  }

  .text-content &{
    text-decoration: underline;
    font-family: $font-raleway-bold;
  } 

  &.link-arrow {
    position: relative;
    padding-right: 12px;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      height: 8px;
      width: 4.57px;
      background-image: url('../assets/images/link-arrow.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.btn,
a {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;

  @include on-event {
    outline: 0;
    @include boxshadow(none);
  }
}

/**
 * Basic styles for input fields
 */
input[type="email"],
input[type="password"],
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-focus-ring-color: none;
  outline: none;

  @include on-event {
    @include boxshadow(none);
  }
}

//styles for navbar-toggler
.navbar-toggler {
  padding: 10px 0;

  border: 0;
  border-radius: 0;

  .icon-bar {
    display: block;
    height: 4px;
    width: 29px;

    background: #000;

    @include transition(0.5s cubic-bezier(0.65, 0.05, 0.36, 1));

    @include boxshadow(none);

    &+.icon-bar {
      margin-top: 4px;
    }
  }

  &[aria-expanded="true"] {
    .icon-bar {
      &:first-child {
        @include transform(rotate(225deg) translate(-6px, -5px));
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        @include transform(rotate(-225deg) translate(-6px, 6px));
      }
    }
  }

  @include on-event() {
    outline: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-family: $font-raleway-bold;
}

section {
  padding: 70px 0;
}

@media (min-width: 1200px){
  .container {
    max-width: 979px;
  }
}

.no-padding {
  padding: 0 !important;
}

body.logged-in.admin-bar {
  padding-top: 32px;
}

.no-scroll {
  overflow: hidden;
}

.loading {
  display: flex;
  justify-content: center;

  div {
    width: 1rem;
    height: 1rem;
    margin: 2rem 0.3rem;
    background: $link-color;
    border-radius: 50%;
    animation: 0.9s bounce infinite alternate;

    &:nth-child(2) {
      animation-delay: 0.3s;
    }

    &:nth-child(3) {
      animation-delay: 0.6s;
    }
  }
}

@keyframes bounce {
  to {
    opacity: 0.3;
    transform: translate3d(0, -1rem, 0);
  }
}

.thankyou {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul.check-list {
  padding-left: 0 !important;

  li {
    position: relative;
    padding-left: 30px;
    
    &:before {
      content: '' !important;
      position: absolute;
      width: 14.52px;
      height: 9.8px;
      display: block;
      left: 16px;
      top: 8px;
      // background-color: red;
      background-image: url('../assets/images/check-list.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
    }
  }
}

.webinar,
.webinar-footer {
  .container {
    @media (min-width: 1200px) {
        max-width: 1440px;
    }
  }
}