//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hover-overlay-orange{
  position: relative;
  margin-bottom: 5%;
  .post-card & {
    .content {
      p {
        font-size: 30px;
        // font-family: $font-lato-regular;
        text-transform: uppercase;

        @media (max-width: 991px){
          font-size: 25px;
        }
      }
    }
  }
  &.w-read-more{
    .read-more{
      position: absolute;
      bottom: 0;
      margin: 0;
      padding: 1em;
      font-size: 30px;
      color: #fff;
      z-index: 999;
      visibility: hidden;
      max-height: 0;
      opacity:0;
      transition:visibility 0.3s linear,opacity 0.3s linear,max-height 0.45s ease-in;
    }
    &:hover{
        .read-more{
            visibility: visible;
            max-height: 500px;
            opacity:1;
            transition:visibility 0.3s linear,opacity 0.3s linear,max-height 0.45s ease-out;
        }
    }
  }
  .content{
    position: absolute;
    bottom: 0;
    padding: 1.5em;
    color: #fff;
    z-index: 999;
    h2{
      font-size: 40px;
      @media (max-width: 1199px){
        font-size: 30px;
      }
        @media (max-width: 767px){
         font-size: 21px;
      }
    }
    p{
      visibility: hidden;
      max-height: 0;
      font-size: 13px;
      line-height: 25px;
      margin: 0;
      opacity:0;
      transition:visibility 0.3s linear,opacity 0.3s linear,max-height 0.45s ease-in;
    }
  }
  &:hover{
    .content{
        p{
            visibility: visible;
            max-height: 500px;
            opacity:1;
            transition:visibility 0.3s linear,opacity 0.3s linear,max-height 0.45s ease-out;
        }
    }
    &:after{
        height: 100%;
        transition: height 0.25s ease-out;
    }
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 8.49%, rgba(0, 0, 0, 0) 38.99%);
    z-index: 1;
    -webkit-transition: height .25s ease-in;
    transition: height .25s ease-in;

  }
  &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      height: 0;
      width: 100%;
      background: linear-gradient(180deg, rgba(246, 137, 43, 0.85) 0%, rgba(221, 85, 0, 0.85) 89.02%);
      // background-color: #f68a2be7;
      z-index: 1;
      transition: height 0.25s ease-in;
  }
}

.box-shadow{
  box-shadow: 0px 25px 31px 0px rgba(0,0,0,.1);
}

.grey-bg{
  background-color: #F8F8F8;
}

.blue-bg{
  background-color: #ECF4FF;
}

.blue-bg-vector{
  background-color: #ECF4FF;
  background-image: url('../assets/images/blue-bg-vector.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.white-bg-vector-absolute{
  background-color: #FFFFFF;
  background-image: url('../assets/images/blue-bg-vector.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -130px;
  padding-top: 150px;
  padding-bottom: 195px;
  @media (max-width: 1200px){
    margin-top: -50px;
    padding-top: 70px;
    padding-bottom: 70px
  }
}

.white-top-bg-vector {
  background-color: #FFFFFF;
  background-image: url('../assets/images/plain-vector.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

// .white-bg-vector::before {
//   content: "";
//   position: absolute;
//   top: -10px;
//   left: 0;
//   right: 0;
//   height: 10%;
//   background-image: linear-gradient(to top, transparent, #ffffff);
//   z-index: 1;
// }


.load-more{
  font-weight: 800;
  font-size: 16px;
}

.link-arrow-down{
  position: relative;
  padding-right: 12px;
  &:after{
    content: '';
    position: absolute;
    right: -9px;
    top: 34%;
    display: block;
    height: 8px;
    width: 12px;
    background-image: url(../assets/images/link-arrow-down.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.blue-line{
  hr{
    border-color: #9FBDEA;
  }
}

hr.blue-line{
  border-color: #9FBDEA;
}

.highlight{
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #F6892B;  
}